.workspace {
  display: flex;

  &,
  & > &-inner {
    flex: 1;
    height: 100%;
    width: 100%;
  }

  &-inner {
    position: relative;
    box-shadow: 0 0 0 1px var(--default-border-color);
  }

  .layer-set {
    &,
    & > canvas {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}
